:root {
	--backColorHead: rgb(160, 0, 0);
	--backColorHeadHover: rgb(105, 1, 1);
	--backColorBody: rgb(54, 53, 53);
	--fontColor: #c4c4c4;
	--shadowFonts: 0px 7px 10px black;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--fontColor);
}
html,
body {
	height: 100%;
}
main {
	max-width: 1500px;
	width: 100vw;
	background-color: var(--backColorBody);
}
/*  INICIO DO CONTEUDO DO CABEÇALHO */
header {
	background-color: var(--backColorHead);
	width: 100vw;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	text-shadow: var(--shadowFonts);
}
h3 {
	max-width: 40vw;
	width: 200px;
	font-size: 32px;
}
ul {
	display: flex;
	list-style: none;
	list-style-position: inside;
	text-align: center;
	flex-wrap: nowrap;
}
li {
	max-width: 30vw;
	width: 200px;
	padding: 10px;
	font-size: 20px;
}

li:hover {
	background: var(--backColorHeadHover);
}
/*  INICIO DO CONTEUDO DO CORPO */
.text {
	width: 100vw;
	padding: 5px 5px 0 5px;
	text-align: center;
}
h2 {
	padding-top: 10px;
}
p{
	padding-bottom: 5px;
}
.project-blocks{
	margin-top: 10px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
img {
	max-width: 90%;
	width: 300px;
	padding: 3px 10px;
}
img:nth-child(3){
	width: 400px;
}